<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Recover Password from Facebook</title>
</head>

<body>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td align="center" valign="top">
                <br>
                <br>
                <table width="600" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td height="70" align="left" valign="middle"></td>
                    </tr>
                    <tr>
                        <td align="left" valign="top"><img src="http://localhost:2131/Templates/EmailTemplate/images/top.png" width="600" height="13" style="display:block;"></td>
                    </tr>
                    <tr>
                        <td align="left" valign="top" bgcolor="#564319" style="background-color:#4267B2; font-family:Arial, Helvetica, sans-serif; padding:10px;">
                            <div style="font-size:36px; color:#ffffff;">
                                <b>Recover Password</b>
                            </div>
                            <div style="font-size:13px; color:#ffffff;">
                                <b>FaceBook : Welcome {0}</b>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="left" valign="top" bgcolor="#f9f8f8" style="background-color:#f9f8f8;">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td align="center" valign="middle" style="padding:10px; color:#564319; font-size:28px; font-family:Georgia, 'Times New Roman', Times, serif;">
                                        <small>Code For Recover Password ({1})</small>
                                    </td>
                                </tr>
                            </table>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-bottom:0px;">
                                <tr>
                                    <td align="left" valign="middle" style="padding:15px; background-color:#4267b2; font-family:Arial, Helvetica, sans-serif;">
                                        <div style="font-size:20px; color:#fff;">
                                            <b>Go To This Link (It Will be Available For 1 hour Only)</b>
                                        </div>
                                        <div style="font-size:13px; color:#ffe77b;">
                                            <a style="color:#f0f0f1; text-decoration:underline;" href="{2}">www.facebook.com</a>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                </table>
                <br>
                <br>
            </td>
        </tr>
    </table>
</body>
</html>   